.landpage-1 {
    position: relative;
    grid-area: "hero";
    background: $bg-green;
    overflow: hidden;
    height: 100vh;
    max-height: 800px;
    
    .cover {
        width: 100%;
        height: 100vh;
        clip-path: circle(100% at 189% 26%);
        opacity:0.5;
        position: absolute;
        background-color: $bg-greeb-b;
        @media only screen and (min-width:768px){
            clip-path: circle(60% at 105% 45%);
        }
        @media only screen and ( min-width:992px){
            clip-path: circle(55% at 79% 13%);
        }
    }

    .hero {
        z-index: 1000;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        justify-items: center;
        text-align: center;
        grid-template-rows: 1fr 2fr;

        @media only screen and (min-width:992px){
            grid-template-columns: 1fr 2fr;
        }

        @media only screen and (min-width:1024px) {
            text-align: left;
        }
        .titlex {

            align-self: center;
            @media only screen and (min-width:768px){
                align-self: flex-start;
                transform:translateY(15%);
            }
            @media only screen and ( min-width:992px) {
                transform: translateX( 45%) translateY(60%); 
            }

            h1 {
                font-size:2rem;
                padding: 0 1rem;
                @media only screen and (min-width:1024px){
                    padding: 0;
                }
            }

            p {
                padding: 0 4rem;
                @media only screen and (min-width:1024px){
                    padding: 0;
                }
            }

            button {
                @include btn(70%);
                transition: background 0.5s;
                a {
                    @include reset-link($ligth);
                    font-family: $text;
                }

                &:hover {
                    background: $primary-hover;
                    cursor:pointer;
                }
            }
        }
        
        .imgcont12 {
            align-self: center;
            img {
                z-index:1000;
                @media only screen and (min-width:768px){
                    transform: translateY(-20%);
                }
                @media only screen and (min-width:992px){
                    transform: rotateZ(10deg);
                }
                @media only screen and (min-width: 1024px){
                    transform: translateX(-5%) rotateZ(10deg) ;
                }                    
            }

        }
    }
}
