.landpage-6 {

    grid-area:footer;

    .grid-footer {
        display: flex;
        flex-direction: column;
        .map {
            position: relative;
            .location {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 200px;
                z-index:1000;
                padding:1rem;
                position: absolute;
                transform:translate(10%,50%);
                @media only screen and(min-width:992px){
                transform:translate(180%,50%);
                }
                background-image:url("/images/location.png");
                background-repeat: no-repeat;
                width: 285px;
                height: 200px;
                overflow: hidden;
                img {
                    object-fit: cover;
                    border-radius: 10px;
                }

                .pointer-address {
                    padding: 1rem;
                    span {
                        color:#DE3075;
                    }
                }
            }
            iframe {
                width: 100%;
                height: 560px;
                border:none;
                filter: grayscale(100%);
            }
        }

        .footer-contact {
            display: grid;
            grid-gap:20px;
            justify-content: center;
            align-items: center;
            width:83%;
            margin: 0 auto;
            padding: 1rem;
            grid-template-columns:repeat(auto-fit,minmax(250px, 1fr));

            @media only screen and (min-width:768px){
                padding: 0;
                grid-template-columns: 2fr 1fr 1fr 2fr;
                grid-template-rows: 135px;
            }

            .cta-subscribe {
                margin-top: 10px;
                @include btn (100%);
                background: $bg-green;
                color:$ligth;
                padding: 0.7rem;
                display:flex;
                justify-content: space-between;
                align-items: center;
                transition: background 0.9s;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(76, 146, 19);
                }
                a {
                    @include reset-link($ligth);
                    font-size: 0.8rem;
                }


            }

            .address-mail {
                font-size:0.8rem;            
                font-weight: bold;
                line-height: 1.8;

            }

            .contact-links a {
                color: $dark;
                font-size: 0.7rem;
                font-weight: bold;
                line-height: 2;
                display: block;
            }

            .wrapper-copy {

                text-align: left;
                p {
                    font-size: 0.9rem;
                    line-height: 1;
                    padding:0;
                    margin:0 0 1rem 0;
                }

                .pay {
                    display:flex;
                    flex-wrap: nowrap;
                    justify-content: space-around;
                    img {
                        height: 30px;

                        &::last-child{
                            height: 60px;
                        }
                    }
                }
            }
        }
    }
}