.landpage-2 {
    padding: 1rem;

    .offers-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
                "header"
                "left" 
                "right"
                "bottom";
        @media only screen and (min-width:768px) {
            grid-template-areas:
                "header header header"
                "left   left   right"
                "left   left   bottom";
            grid-template-rows: 50px 200px 200px;
        }

        @media only screen and (min-width:992px){
            padding: 0 5rem;
        }
        .header-offers {
            grid-area:header;
            display: flex;
            justify-content: space-between;
            align-items:center;
            h3 {
                font-weight: 100;
            }

            .arrows {
                color:#06060650;
                .fa-angle-right {
                    margin-left: 1em;
                }
            }
        }

        .card {
            border: 1px solid rgba(233, 233, 233, 0.753);
            border-radius: 8px;
            grid-area: left;
            overflow: hidden;
            
            .header-product {
                display: flex;
                justify-content: space-between;
                padding:1em 1em;
                a {
                    @include reset-link ($dark);
                    font-weight: bold;
                }

                .card-price {
                    @include d-flex(row);

                    p {
                        padding: 0;
                        line-height: 0;
                        margin-right: 5px;
                        font-size: $small-text;
                    }

                    .fa-shopping-cart {
                        font-size: $small-text;
                    }
                }
                .discount {
                    background-color: $bg-green;
                    font-size: $small-text;
                    color:$ligth;
                    width: 45px;
                    height: 45px;
                    @include d-flex(row);
                }
            }
            
            .card-img {

                @media only screen and (min-width:992px){
                    width:60%;
                    margin:0 auto;
                }
            }

        }

        .aside {
            @extend .card;
            grid-area: right;
            @media only screen and (min-width:768px){
                display: flex;
                justify-content: space-between;

                div.card-img {
                    @include d-flex (row);
                    width: 50%;
                }
                img {
                    position:relative;
                    right: 30px;
                }
            }
        }
        .aside2 {
            @extend .card;
            @extend .aside;
            grid-area: bottom;
        }

    }
}