.landpage-3 {
    grid-area:gallery;
    background-color: $bg-green;
    padding: 1rem 0;
    
    .grid-gallery {
        width:83%;
        margin: 0 auto;
        display: grid;
        grid-gap:20px;
        grid-template-rows: 1fr;

        @media only screen and (min-width:768px){
            grid-template-columns: 2.5fr 2fr 1.5fr;
            grid-template-rows: 50px 1fr 50px;
            padding: 0 2rem;
        }
        .header-gallery {
            grid-column: 1/-1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
                color:$ligth;
                font-weight: 100;
            }

            .arrows {
                color:$ligth;
                .fa-angle-right {
                    margin-left: 1em;
                }
            }


        }
        
        .gallery-item {

            img {
                border-radius: 8px;
                height: 100%;
                object-fit: cover;
            }
        }

        .slideshow-dots  {
            height: 20px;
            grid-column: 1 / 2; 
            padding:0 1rem; 
            
            .dots {
                display: inline-block;
                width: 12px;
                height: 12px;
                background-color:#FCFCFC50;
            }

            .active {
                background: $ligth;
            }
        }
    }

}