.landpage-5 {
    grid-area:comments;
    background-color: $bg-green;
    padding:0 0 1rem 0;
    overflow: hidden;
    position: relative;
    .cover {
        width: 100%;
        height: 100vh;
        min-height: 500px;
        clip-path: circle(60% at 105% 45%);
        opacity:0.5;
        position: absolute;
        background-color: $bg-greeb-b;
        @media only screen and (min-width:768px){
            clip-path: circle(65% at 100% 14%);
        }
        @media only screen and ( min-width:992px){
            clip-path: circle(38% at 70% 22%);
        }
    }
    .grid-comments {
        position: relative;
        z-index: 1000;
        @include general-grid-mobile(1fr);
        
        @media only screen and (min-width:768px){
            @include general-grid-desktop(360px,50px);
        }

        .header-comments {
            @include header-section($ligth);
            
            .arrows {
                @include arrows($ligth);
            }
        }
        
        .comment-item {
            justify-self: center;
            width: 90%;
            height: 270px;
            background-color: $ligth;
            border-radius: 8px;
            @include d-flex(column);
            .avatar-wrapper {
                align-self: center;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                
                .avatar {
                    overflow: hidden;
                    clip-path: circle(40% at 50% 50%);
                    img {
                        object-fit: cover;
                        object-position: center;
                        width:72px;
                        height: 72px;
                    }
                }
                .avatar-description {
                    p {
                        font-size:0.8rem;
                        line-height: 0.5;
                    }

                    .fab {
                        color:$bg-green;
                    }
                }
            }
            .comments {
                width: 75%;
                align-self: center;
                p {
                    font-size: 0.9rem;
                    line-height: 1.5;
                }
            }

        }
        .slideshow-dots {
            @include slideshow-dots();
        }
        
    }

}