.landpage-4 {

    
    .grid-catalog {
        width:83%;
        margin: 0 auto;
        display: grid;
        grid-gap:20px;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        padding: 1rem;
        @media only screen and(min-width:768px){
            grid-template-columns: 1fr 1fr 1fr;
        }

        .header-catalog {
            display: flex;
            justify-content: space-between;
            align-items: center;
            grid-column: 1 / -1;

            h3 {
                font-weight: 100;
            }

            .arrows {
                color:#06060650;
                .fa-angle-right {
                    margin-left: 1em;
                }
            }
        }

        .fa-heart {
            color:$primary;
            margin-bottom: 1em;
            align-self: flex-start;
        }

        .card-product {
            border: 1px solid rgba(233, 233, 233, 0.753);
            border-radius: 8px;
            padding: 25px;
            @include d-flex(column);
            justify-content: space-around;

            a {
                @include reset-link($dark);
                font-weight: bold;
            }

            .info-card {

                align-self: flex-start;
                .card-price {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-top: 5px;
    
                    p {
                        line-height: 0;
                    }
                }

                .accesories {
                    margin-top: 5px;
                }
            
            }

            
            
        }
    }

    
    
}