.product {
    .grid-catalog-2 {
       width:83%;
       margin: 0 auto;
       display: grid;
       grid-gap:20px;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(auto-fit, minmax(350px,1fr));
       justify-items: center;
       align-items: center;
       padding: 1rem;
       @media only screen and(min-width:768px){
           grid-template-columns: 1fr 1fr 1fr;
       } ;

       .selected-product {
           border: 1px solid rgba(233, 233, 233, 0.753);
           border-radius: 8px;
           display: grid;
           grid-gap:50px;
           padding:1rem;
           @media only screen and (min-width:768px){
               grid-column: span 3;
               grid-template-columns: 1fr 1fr ;
               padding:2rem;
           }

           .cont-img-product {
               .header-main-product {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;

                   .dots-wrapper {
                           border:5px solid goldenroad;
                           .dots-green {
                               width: 12px;
                               height: 12px;
                               display: block;
                               margin:0.4rem;
                               border-radius: 50%;
                               background-color:$bg-green;
                               opacity:0.5;
                           }
                           .dots-green:nth-child(1) {
                               opacity: 1;
                           }
                   }

                   .dis {
                       background-color: $bg-green;
                       border-radius: 50%;
                       color:$ligth;
                       width: 52px;
                       height: 52px;
                       @include d-flex(row);
                   }
               }
               .arrows-sizes {
                   display:flex;
                   justify-content: space-between;
                   align-items: center;

                   .arrows {
                       @include arrows(gray);
                   }

                   p {
                       color: gray;
                       font-size: 0.8rem;
                   }
               }
           }

           .info-card {
               display: flex;
               flex-direction: column;
               justify-content: space-around;

               .header-instrument-selected {
                   display: flex;
                   justify-content: space-between;
                   align-items: center;
                   h1 {
                       a { @include reset-link($dark); }
                   }
                   .fa-heart {
                       color:$primary;
                   }
               }

               .accesories {
                   button {
                       border-radius: 12px;
                       background-color: rgba(243, 243, 243, 0.924);
                       font-size: 0.9rem;
                   }
               }

               .wrapper-color-ship {
                   display: flex;
                   justify-content: flex-start;

                   .dot-colors {
                        margin-right: 1rem;
                        .checkmark1 {
                           width: 15px;
                           height: 15px;
                           display:inline-block;
                           background-color: #9B1844;
                           border-radius: 50%;
                           &:nth-child(2){ background-color: #E9014E;}
                           &:nth-child(3){ background-color: #FF98BA;}
                           &::nth-child(4){ background-color: #FFD6E4;}
                       }
                   }

                   .shipping {
                    margin-left: 1rem;
                    .container {
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 12px;
                        cursor: pointer;
                        font-size: 0.8rem;
                        -webkit-user-select: none;
                        -moz-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
 
                        &:hover input ~ .checkmark {
                            background-color: #ccc;
                        }
 
                        input:checked ~ .checkmark {
                            background-color: rgb(255, 255, 255);
                        }
                    
                        input {
                            position: absolute;
                            opacity: 0;
                            cursor: pointer;
                            height: 0;
                            width: 0;
                          }
                      }
                      
                      .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 12px;
                        width: 12px;
                        border: 1px solid $bg-green;
                        border-radius: 3px;
                      }
                      
 
                      .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                      }
                      
                      .container input:checked ~ .checkmark:after {
                        display: block;
                      }
                      
                      .container .checkmark:after {
                        left: 2.5px;
                        top: 0px;
                        width: 3px;
                        height: 7px;
                        border: solid rgb(71, 70, 70);
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                      }
                   }
               }

               .card-price {
                   display: flex;
                   align-items: center;
                   .underline {
                       color:rgb(194, 192, 192);text-decoration: line-through;
                       font-size: 0.8rem;
                       margin-right: 1rem;
                   }

                   p:nth-child(2){
                       margin-right: 1rem;
                   }

                   .cta-buy {
                       @include btn(170px);
                       height: 32px;
                       padding: 0;
                       color:white;
                   }

               }


           }
       }
       .card-product {
           margin:0 auto;
           border: 1px solid rgba(233, 233, 233, 0.753);
           border-radius: 8px;
           padding: 25px;
           @include d-flex(column);
           justify-content: space-around;

           a {
               @include reset-link($dark);
               font-weight: bold;
           }

           .info-card {

               align-self: flex-start;
               .card-price {
                   display: flex;
                   justify-content: start;
                   align-items: center;
                   margin-top: 5px;
   
                   p {
                       line-height: 0;
                   }
               }

               .accesories {
                   margin-top: 5px;
               }
           
           }

       }
    }
}
