$primary: #D8055A;
$primary-hover:rgb(139, 9, 61);
$ligth: #fcfcfc;
$bg-green :#62C312;
$bg-greeb-b:#87D249;
$figure: #69C71C;
$title: 'Yeseva One', cursive;
$text:'Montserrat', sans-serif;
$dark: #202020;
$small-text:13px;



/* General Mixings */

@mixin reset-list ($m, $p){
    margin:$m;
    padding: $p;
    list-style: none;
}

@mixin reset-link ($color){
    text-decoration: none;
    color: $color;
}

@mixin d-flex($direction) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin center-grid {
    align-content: center;
    justify-content: center;
}

@mixin img-res {
    width: 100%;
    height: auto;
    object-fit: contain;
}

@mixin img-block {
    @include img-res();
    display: block;
}

@mixin btn ($width){
    width: $width;
    border-radius: 40px;
    text-align: center;
    padding: 1rem 2rem;
    background-color: $primary;
    border:none;
    box-shadow: 0px 5px 16px -8px rgba(0,0,0,0.75);
}

@mixin btnActive {
    width:50px;
    border-radius: 20px;
    text-align: center;
    border: 0.5px solid $bg-green;
    background-color: $ligth;
    padding: 5px;
    font-size: 13px;
    font-family: $text;
}

/* Some general clases to apply directly on html */

.title {
    font-family: $title;
}

.text {
    font-family: $text;
}

.round-box {
    border-radius:50%;
}

.img-res {
    @include img-res;
}

.white {
    color:$ligth;
}

.hidden {
    display: none;
}

.black {
    color: $dark;
}

.primary {
    color:$primary;
}

.d-inline {
    display:inline-block;
}

.btnActive {
    @include btnActive();
}

.btnBlank {
    font-family: $text;
    border: none;
    background-color: transparent;
}

.bigger-img {
    object-fit: cover;
    width: 70%;
    display: block;
    margin: 0 auto;
}
/* General styles for only desktop */

@media only screen and (max-width:1023px) {

    .d-none {
    display:none;
    }

}
