/* General Mixings */
/* Some general clases to apply directly on html */
.title {
  font-family: "Yeseva One", cursive;
}

.text {
  font-family: "Montserrat", sans-serif;
}

.round-box {
  border-radius: 50%;
}

.img-res {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

/* General styles for only desktop */
@media only screen and (max-width: 1023px) {
  .d-none {
    display: none;
  }
}

html {
  font-size: 16px;
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "hero" "offers" "galery" "catalog" "comments" "map";
}

.main-wrapper .landpage-1 {
  grid-area: "hero";
  background: #62C312;
  overflow: hidden;
  height: 100vh;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
}

.navbar .img-logo-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em;
  margin-left: 1rem;
}

@media only screen and (min-width: 1024px) {
  .navbar .img-logo-container {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2 / 4;
  }
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 4;
  grid-column: 4 / 4;
  padding: 0;
}

@media only screen and (min-width: 1024px) {
  .navbar ul {
    grid-column: -2 / -7;
  }
}

.navbar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 0.6rem;
  font-size: 1vw;
}

.navbar ul li i {
  color: #fcfcfc;
}

.navbar ul li i:hover {
  cursor: pointer;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.navbar ul li:hover {
  opacity: 0.8;
}

.navbar ul .bg1, .navbar ul .bg2, .navbar ul .toggle {
  width: 32px;
  height: 32px;
  background-color: #87D249;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0.6rem;
}

.navbar ul .bg2 {
  background-color: #D8055A;
}

.navbar ul .toggle {
  background-color: #87D249;
}

@media only screen and (min-width: 1024px) {
  .navbar ul .toggle {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */