/* General Mixings */
/* Some general clases to apply directly on html */
.title {
  font-family: "Yeseva One", cursive;
}

.text {
  font-family: "Montserrat", sans-serif;
}

.round-box {
  border-radius: 50%;
}

.img-res {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.white {
  color: #fcfcfc;
}

.hidden {
  display: none;
}

.black {
  color: #202020;
}

.primary {
  color: #D8055A;
}

.d-inline {
  display: inline-block;
}

/* General styles for only desktop */
@media only screen and (max-width: 1023px) {
  .d-none {
    display: none;
  }
}

.nav {
  padding: 0 1rem;
}

@media only screen and (min-width: 1024px) {
  .nav {
    padding: 0 3rem;
  }
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navbar .img-logo-container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em;
  z-index: 1000;
}

@media only screen and (max-width: 425px) {
  .navbar .img-logo-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
}

@media only screen and (min-width: 425px) {
  .navbar .img-logo-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media only screen and (min-width: 650px) {
  .navbar .img-logo-container {
    -ms-grid-column: 1;
    grid-column: 1/ 1;
    justify-items: end;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar .img-logo-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    padding: 2em;
  }
}

.navbar ul {
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-grid-column: 4;
  grid-column: 4 / 4;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .navbar ul {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media only screen and (min-width: 1024px) {
  .navbar ul {
    grid-column: -1/-2;
  }
}

.navbar ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 0.6rem;
  font-size: 1vw;
}

.navbar ul li i {
  color: #fcfcfc;
}

.navbar ul li i:hover {
  cursor: pointer;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.navbar ul li:hover {
  opacity: 0.8;
}

.navbar ul .bg1, .navbar ul .bg2, .navbar ul .toggle {
  width: 32px;
  height: 32px;
  background-color: #87D249;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 0.6rem;
}

.navbar ul .bg2 {
  background-color: #D8055A;
}

.navbar ul .toggle {
  background-color: #87D249;
}

@media only screen and (min-width: 1024px) {
  .navbar ul .toggle {
    display: none;
  }
}

.landpage-1 {
  position: relative;
  grid-area: "hero";
  background: #62C312;
  overflow: hidden;
  height: 100vh;
  max-height: 800px;
}

.landpage-1 .cover {
  width: 100%;
  height: 100vh;
  -webkit-clip-path: circle(47.4% at 100% 14%);
          clip-path: circle(47.4% at 100% 14%);
  opacity: 0.5;
  position: absolute;
  background-color: #87D249;
}

@media only screen and (min-width: 768px) {
  .landpage-1 .cover {
    -webkit-clip-path: circle(65% at 100% 14%);
            clip-path: circle(65% at 100% 14%);
  }
}

@media only screen and (min-width: 992px) {
  .landpage-1 .cover {
    -webkit-clip-path: circle(82% at 100% 14%);
            clip-path: circle(82% at 100% 14%);
  }
}

.landpage-1 .hero {
  z-index: 1000;
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 10px;
  justify-items: center;
  text-align: center;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
}

@media only screen and (min-width: 992px) {
  .landpage-1 .hero {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (min-width: 1024px) {
  .landpage-1 .hero {
    text-align: left;
  }
}

.landpage-1 .hero main {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (min-width: 768px) {
  .landpage-1 .hero main {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-transform: translateY(15%);
            transform: translateY(15%);
  }
}

@media only screen and (min-width: 992px) {
  .landpage-1 .hero main {
    -webkit-transform: translateX(45%) translateY(60%);
            transform: translateX(45%) translateY(60%);
  }
}

.landpage-1 .hero main h1 {
  font-size: 2rem;
  padding: 0 1rem;
}

@media only screen and (min-width: 1024px) {
  .landpage-1 .hero main h1 {
    padding: 0;
  }
}

.landpage-1 .hero main p {
  padding: 0 4rem;
}

@media only screen and (min-width: 1024px) {
  .landpage-1 .hero main p {
    padding: 0;
  }
}

.landpage-1 .hero main button {
  width: 70%;
  border-radius: 40px;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #D8055A;
  border: none;
  -webkit-box-shadow: 0px 5px 16px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 5px 16px -8px rgba(0, 0, 0, 0.75);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}

.landpage-1 .hero main button a {
  text-decoration: none;
  color: #fcfcfc;
  font-family: "Montserrat", sans-serif;
}

.landpage-1 .hero main button:hover {
  background: #8b093d;
  cursor: pointer;
}

.landpage-1 .hero div img {
  z-index: 1000;
}

@media only screen and (min-width: 768px) {
  .landpage-1 .hero div img {
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }
}

@media only screen and (min-width: 992px) {
  .landpage-1 .hero div img {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

@media only screen and (min-width: 1024px) {
  .landpage-1 .hero div img {
    -webkit-transform: translateX(-5%) rotateZ(10deg);
            transform: translateX(-5%) rotateZ(10deg);
  }
}

.landpage-2 {
  padding: 1rem;
}

.landpage-2 .offers-grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
      grid-template-areas: "header" "left"  "right" "bottom";
}

@media only screen and (min-width: 768px) {
  .landpage-2 .offers-grid {
        grid-template-areas: "header header header" "left   left   right" "left   left   bottom";
    -ms-grid-rows: 50px 200px 200px;
        grid-template-rows: 50px 200px 200px;
  }
}

@media only screen and (min-width: 992px) {
  .landpage-2 .offers-grid {
    padding: 0 5rem;
  }
}

.landpage-2 .offers-grid .header-offers {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landpage-2 .offers-grid .header-offers h3 {
  font-weight: 100;
}

.landpage-2 .offers-grid .header-offers .arrows {
  color: #06060650;
}

.landpage-2 .offers-grid .header-offers .arrows .fa-angle-right {
  margin-left: 1em;
}

.landpage-2 .offers-grid .card, .landpage-2 .offers-grid .aside, .landpage-2 .offers-grid .aside2 {
  border: 1px solid rgba(233, 233, 233, 0.753);
  border-radius: 8px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: left;
  overflow: hidden;
}

.landpage-2 .offers-grid .card .header-product, .landpage-2 .offers-grid .aside .header-product, .landpage-2 .offers-grid .aside2 .header-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em 1em;
}

.landpage-2 .offers-grid .card .header-product a, .landpage-2 .offers-grid .aside .header-product a, .landpage-2 .offers-grid .aside2 .header-product a {
  text-decoration: none;
  color: #202020;
  font-weight: bold;
}

.landpage-2 .offers-grid .card .header-product .card-price, .landpage-2 .offers-grid .aside .header-product .card-price, .landpage-2 .offers-grid .aside2 .header-product .card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.landpage-2 .offers-grid .card .header-product .card-price p, .landpage-2 .offers-grid .aside .header-product .card-price p, .landpage-2 .offers-grid .aside2 .header-product .card-price p {
  padding: 0;
  line-height: 0;
  margin-right: 5px;
  font-size: 13px;
}

.landpage-2 .offers-grid .card .header-product .card-price .fa-shopping-cart, .landpage-2 .offers-grid .aside .header-product .card-price .fa-shopping-cart, .landpage-2 .offers-grid .aside2 .header-product .card-price .fa-shopping-cart {
  font-size: 13px;
}

.landpage-2 .offers-grid .card .header-product .discount, .landpage-2 .offers-grid .aside .header-product .discount, .landpage-2 .offers-grid .aside2 .header-product .discount {
  background-color: #62C312;
  font-size: 13px;
  color: #fcfcfc;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (min-width: 992px) {
  .landpage-2 .offers-grid .card .card-img, .landpage-2 .offers-grid .aside .card-img, .landpage-2 .offers-grid .aside2 .card-img {
    width: 60%;
    margin: 0 auto;
  }
}

.landpage-2 .offers-grid .aside, .landpage-2 .offers-grid .aside2 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: right;
}

@media only screen and (min-width: 768px) {
  .landpage-2 .offers-grid .aside, .landpage-2 .offers-grid .aside2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .landpage-2 .offers-grid .aside div.card-img, .landpage-2 .offers-grid .aside2 div.card-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
  }
  .landpage-2 .offers-grid .aside img, .landpage-2 .offers-grid .aside2 img {
    position: relative;
    right: 30px;
  }
}

.landpage-2 .offers-grid .aside2 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: bottom;
}

html {
  font-size: 16px;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1310px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "hero" "offers" "gallery" "catalog" "comments" "map";
}

.main-wrapper .landpage-3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: gallery;
  background-color: #62C312;
}

.main-wrapper .landpage-3 .grid-gallery {
  width: 83%;
  margin: 0 auto;
  padding: 0 2rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

@media only screen and (min-width: 768px) {
  .main-wrapper .landpage-3 .grid-gallery {
    -ms-grid-columns: 2.5fr 2fr 1.5fr;
        grid-template-columns: 2.5fr 2fr 1.5fr;
    -ms-grid-rows: 50px 1fr 50px;
        grid-template-rows: 50px 1fr 50px;
  }
}

.main-wrapper .landpage-3 .grid-gallery .header-gallery {
  grid-column: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-wrapper .landpage-3 .grid-gallery .header-gallery h3 {
  color: #fcfcfc;
  font-weight: 100;
}

.main-wrapper .landpage-3 .grid-gallery .header-gallery .arrows {
  color: #fcfcfc;
}

.main-wrapper .landpage-3 .grid-gallery .header-gallery .arrows .fa-angle-right {
  margin-left: 1em;
}

.main-wrapper .landpage-3 .grid-gallery .gallery-item img {
  border-radius: 8px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-wrapper .landpage-3 .grid-gallery .slideshow-dots {
  height: 20px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  padding: 0 1rem;
}

.main-wrapper .landpage-3 .grid-gallery .slideshow-dots .dots {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #FCFCFC50;
}

.main-wrapper .landpage-3 .grid-gallery .slideshow-dots .active {
  background: #fcfcfc;
}
/*# sourceMappingURL=style.css.map */