@import './_utilities';
@import './_header';

@import './_landpage-1';
@import './_landpage-2';

html {
    font-size: 16px;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1310px;
    display: grid;
    grid-template-areas: 
         "hero"
         "offers"
         "galery"
         "catalog"
         "comments"
         "map";
    .landpage-3 {
        background-color: $bg-green;
        .grid-gallery {
            padding: 0 2rem;
            display: grid;
            grid-gap:20px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: 200px;
        }
    }
   
    
}


