@import './_utilities';
@import './_header';
@import './_landpage-1';
@import './_landpage-2';
@import './_landpage-3';
@import './_landpage-4';
@import './_landpage-5';
@import './_landpage-6';


html {
    font-size: 16px;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1310px;
    display: grid;
    grid-template-areas: 
         "hero"
         "offers"
         "gallery"
         "catalog"
         "comments"
         "footer";
    
         .header-filter {
             position: relative;
             grid-area: "hero";
             background: $bg-green;
             overflow: hidden;
             
             .cover {
                 width: 100%;
                 height: 100vh;
                 clip-path: circle(100% at 189% 26%);
                 opacity:0.5;
                 position: absolute;
                 background-color: $bg-greeb-b;
                 @media only screen and (min-width:768px){
                     clip-path: circle(60% at 105% 45%);
                 }
                 @media only screen and ( min-width:992px){
                     clip-path: circle(55% at 79% 13%);
                 }
             }
         
          }
            
         .catalog-filter {
              @extend .landpage-4;
              .grid-catalog {
                  @media only screen and (min-width:768px){
                      grid-template-columns: 1fr 1fr 1fr 1fr;
                  }
                  .card-filters {
                      grid-row: span 2;
                      .slide-container {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        .range-container {
                            display:flex;
                            justify-content: space-between;
                            margin-top: 1.1rem;

                            .range {
                                border: 1px solid $bg-green;
                                border-radius: 5px;
                                padding: 0.3rem 1rem;
                                
                                font-size: 0.7rem;
                              }
                        }
                        .slider {

                            -webkit-appearance: none;
                            width: 100%;
                            height: 4px;
                            border-radius: 5px;  
                            background: #d3d3d3;
                            outline: none;
                            opacity: 0.7;
                            -webkit-transition: .2s;
                            transition: opacity .2s;
    
                            &::-webkit-slider-thumb {
                                -webkit-appearance: none;
                                appearance: none;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%; 
                                background: $ligth;
                                border: 3px solid $bg-green;
                                cursor: pointer;
                              }
                              &::-moz-range-thumb {
                                appearance: none;
                                width: 15px;
                                height: 15px;
                                border-radius: 50%; 
                                background: $ligth;
                                border: 3px solid $bg-green;
                                cursor: pointer;
                              }

                             
                          }
                      }

                      .color-container {

                        display:flex;
                        flex-direction: column;
                        justify-content: flex-start;

                          .cont-color {
                              display: flex;
                              align-items: flex-start;
                              justify-content: space-around;
                              .checkmark {
                                  height: 18px;
                                  width: 18px;
                                  margin:0.25rem;
                                  border-radius: 50%;
                                  background-color: #bc4452;
                                  cursor:pointer;   
                                  
                                  &:nth-child(2) {
                                      background-color: #D49315;
                                  }

                                  &:nth-child(3) {
                                    background-color: #A833B9;
                                }
                                  &:nth-child(4) {
                                      background-color: #DF5FA7;
                                  }

                                  &:nth-child(5) {
                                      background-color: #5FADDF;
                                  }

                              }
                        }

                    }

                        .type-instrument{
                            .container {
                                display: block;
                                position: relative;
                                padding-left: 35px;
                                margin-bottom: 12px;
                                cursor: pointer;
                                font-size: 0.8rem;
                                -webkit-user-select: none;
                                -moz-user-select: none;
                                -ms-user-select: none;
                                user-select: none;

                                &:hover input ~ .checkmark {
                                    background-color: #ccc;
                                }

                                input:checked ~ .checkmark {
                                    background-color: rgb(255, 255, 255);
                                }
                            
                                input {
                                    position: absolute;
                                    opacity: 0;
                                    cursor: pointer;
                                    height: 0;
                                    width: 0;
                                  }
                              }
                              
                              .checkmark {
                                position: absolute;
                                top: 0;
                                left: 0;
                                height: 12px;
                                width: 12px;
                                border: 1px solid $bg-green;
                                border-radius: 3px;
                              }
                              
   
                              /* Create the checkmark/indicator (hidden when not checked) */
                              .checkmark:after {
                                content: "";
                                position: absolute;
                                display: none;
                              }
                              
                              /* Show the checkmark when checked */
                              .container input:checked ~ .checkmark:after {
                                display: block;
                              }
                              
                              /* Style the checkmark/indicator */
                              .container .checkmark:after {
                                left: 2.5px;
                                top: 0px;
                                width: 3px;
                                height: 7px;
                                border: solid rgb(71, 70, 70);
                                border-width: 0 3px 3px 0;
                                -webkit-transform: rotate(45deg);
                                -ms-transform: rotate(45deg);
                                transform: rotate(45deg);
                              }

                              .cta-show {
                                  @include btn(80%);
                                  color: white;
                                  padding: 0.3rem 2rem;
                              }
                        }

                      

                          
                      }
                  }
              
         }
   }






   
   




