@import './_utilities';
@import './_header';

@import './_landpage-1';
@import './_landpage-2';

html {
    font-size: 16px;
}

.main-wrapper {
    margin: 0 auto;
    max-width: 1310px;
    display: grid;
    grid-template-areas: 
         "hero"
         "offers"
         "gallery"
         "catalog"
         "comments"
         "map";
    .landpage-3 {
        grid-area:gallery;
        background-color: $bg-green;
        padding: 1rem 0;
        
        .grid-gallery {
            width:83%;
            margin: 0 auto;
            display: grid;
            grid-gap:20px;
            grid-template-rows: 1fr;

            @media only screen and (min-width:768px){
                grid-template-columns: 2.5fr 2fr 1.5fr;
                grid-template-rows: 50px 1fr 50px;
                padding: 0 2rem;
            }
            .header-gallery {
                grid-column: 1/-1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3 {
                    color:$ligth;
                    font-weight: 100;
                }
    
                .arrows {
                    color:$ligth;
                    .fa-angle-right {
                        margin-left: 1em;
                    }
                }


            }
            
            .gallery-item {

                img {
                    border-radius: 8px;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .slideshow-dots  {
                height: 20px;
                grid-column: 1 / 2; 
                padding:0 1rem; 
                
                .dots {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background-color:#FCFCFC50;
                }

                .active {
                    background: $ligth;
                }
            }
        }
   
    }

    .landpage-4 {

        .grid-catalog {
            width:83%;
            margin: 0 auto;
            display: grid;
            grid-gap:20px;
            grid-template-columns: 1fr;
            grid-template-rows: 50px 1fr;
            padding: 1rem;
            @media only screen and(min-width:768px){
                grid-template-columns: 1fr 1fr 1fr;
            }

            .header-catalog {
                display: flex;
                justify-content: space-between;
                align-items: center;
                grid-column: 1 / -1;

                h3 {
                    font-weight: 100;
                }
    
                .arrows {
                    color:#06060650;
                    .fa-angle-right {
                        margin-left: 1em;
                    }
                }
            }

            .fa-heart {
                color:$primary;
                margin-bottom: 1em;
            }

            .card-product {
                border: 1px solid rgba(233, 233, 233, 0.753);
                border-radius: 8px;
                padding: 25px;
    
                a {
                    @include reset-link($dark);
                    font-weight: bold;
                }

                .bigger-img {
                    object-fit: cover;
                    width: 70%;
                    display: block;
                    margin: 0 auto;
                }

                .info-card {
                    margin-top: 27px;
                }

                .card-price {
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    margin-top: 5px;
    
                    p {
                        line-height: 0;
                    }
                }

                .accesories {
                    margin-top: 5px;
                }
                
            }
        }

        
        
    }


}


