<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Electric-Guitar</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Yeseva+One&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <main class="main-wrapper d-grid">
        <section class="header-filter">
        <h1 class="hidden">Musical Instruments made by the best brands over the world</h1>
        <div class="cover"></div>    
        <header class="nav">
            <nav class="navbar">
                <div class="img-logo-container">
                    <a href="../index.html">
                    <img class="img-res" src="../images/logov2.svg" alt="logo">
                    </a>
                </div>
                <ul>
                    <li class="d-none"><a href="#gallery">Gallery</a></li>
                    <li class="d-none"><a href="./filter.html">Products</a></li>
                    <li class="d-none"><a href="./views/contact.html">Contact</a></li>
                    <li class="round-box toggle"><i class="fas fa-bars"></i></li>
                    <li class="round-box bg1"><i class="fas fa-heart"></i></li>
                    <li class="round-box bg2"><i class="fas fa-shopping-cart"></i></li>
                </ul>
            </nav>
        </header>
        </section>



        <section class="product">
            <h1 class="hidden">Main product</h1>
            <main class="grid-catalog-2">
                <div class="selected-product">
                        <div class="cont-img-product" >
                            <header class="header-main-product">
                                <div class=
                                "dots-wrapper">    
                                    <span class="dots-green"></span>
                                    <span class="dots-green"></span>
                                    <span class="dots-green"></span>
                                </div>
                                <div class="text dis">
                                    -50%
                                </div> 
                            </header>
                            <a href="./product.html">
                                 <img class="img-res" src="https://purepng.com/public/uploads/large/purepng.com-violin-bowviolinviolin-and-bowmusicinstruments-1421526663669qhjtf.png" alt="violin">
                            </a>
                            <footer class=" arrows-sizes">
                            <div class="arrows">
                                <i class="fas fa-angle-left"></i>
                                <i class="fas fa-angle-right"></i>
                            </div>
                            <p class="text">120cm x 80cm</p>
                            </footer>
                        </div>
                        <div class="info-card">
                            <header class="header-instrument-selected">
                                <h1>
                                    <a class="title" href="./product.html">
                                        Violin
                                    </a>
                                </h1>
                                <i class="fas fa-heart"></i>
                            </header>
                            
                            <div class="accesories">
                                <p class="text bold">Number of years</p>
                                    <button class="btnActive">12 st</button>
                                    <button class="btnBlank">24 st</button>
                                    <button class="btnBlank">36 st</button>
                                    <button class="btnBlank">36 st</button>
                                    <button class="btnBlank">36 st</button>
                            </div>
                            <div class="wrapper-color-ship">
                                <div class="dot-colors">
                                    <p class="text bold">Color: </p>
                                    <div>
                                        <span class="checkmark1"></span>
                                        <span class="checkmark1"></span>
                                        <span class="checkmark1"></span>
                                        <span class="checkmark1"></span>
                                    </div>
                                </div>
                                <div class="shipping">
                                    <p class="text bold"> Type of shipping</p>
                                    <label class="container text">Free
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="container text">Address
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="card-price">
                                <p class="text underline"> $598 USD</p>
                                <p class="text">
                                    $189 USD
                                </p>
                                <button class="cta-buy text">Order Now</button>
                            </div>
                        </div>
                </div>
                <div class="card-product">
                    <i class="far fa-heart"></i>
                    <a  href="./product.html">
                        <img class="img-res" src="https://purepng.com/public/uploads/large/purepng.com-electric-guitarelectric-guitarsteelstringselectrical-1421526494412ugnmo.png" alt="ElectricGuitar">
                    </a>

                    <div class="info-card">
                    <a class="text" href="./product.html">
                        Electric Guitar
                    </a>

                    <div class="accesories">
                            <button class="btnActive">12 st</button>
                            <button class="btnBlank">24 st</button>
                            <button class="btnBlank">36 st</button>
                    </div>
                    <div class="card-price">
                        <p class="text">
                            $198 USD
                        </p>
                        <i class="fas fa-shopping-cart primary"></i>
                    </div>
                    </div>
                </div>

                <div class="card-product">
                    <i class="far fa-heart"></i>
                    <a  href="./product.html">
                        <img class="img-res" src="https://purepng.com/public/uploads/large/purepng.com-electric-guitarelectric-guitarsteelstringselectrical-1421526494412ugnmo.png" alt="ElectricGuitar">
                    </a>

                    <div class="info-card">
                    <a class="text" href="./product.html">
                        Electric Guitar
                    </a>

                    <div class="accesories">
                            <button class="btnActive">12 st</button>
                            <button class="btnBlank">24 st</button>
                            <button class="btnBlank">36 st</button>
                    </div>
                    <div class="card-price">
                        <p class="text">
                            $198 USD
                        </p>
                        <i class="fas fa-shopping-cart primary"></i>
                    </div>
                    </div>
                </div>

                <div class="card-product">
                    <i class="far fa-heart"></i>
                    <a  href="./product.html">
                        <img class="img-res" src="https://purepng.com/public/uploads/large/purepng.com-electric-guitarelectric-guitarsteelstringselectrical-1421526494412ugnmo.png" alt="ElectricGuitar">
                    </a>

                    <div class="info-card">
                    <a class="text" href="./product.html">
                        Electric Guitar
                    </a>

                    <div class="accesories">
                            <button class="btnActive">12 st</button>
                            <button class="btnBlank">24 st</button>
                            <button class="btnBlank">36 st</button>
                    </div>
                    <div class="card-price">
                        <p class="text">
                            $198 USD
                        </p>
                        <i class="fas fa-shopping-cart primary"></i>
                    </div>
                    </div>
                </div>
            </main>
        </section>
        </main>
        <script src="https://kit.fontawesome.com/859eff7750.js"></script>
    
</body>
</html>